@mixin arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  font-size: 1.8rem;
  color: rgb(var(--primary-purple));
  cursor: pointer;
}

@mixin index-card-img {
  width: 2.5rem;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.before-button {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 100vh;
  background-color: rgba(var(--primary-pink), 0.3);
  cursor: pointer;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4rem 0;
  position: relative;
}

.arrow-before {
  @include arrow;
  left: 0;
}

.arrow-after {
  @include arrow;
  right: 0;
}

.card-img-box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-img-box-cushion {
  width: 100%;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-index {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.1rem;
  overflow-x: auto;
}

.index-card-img {
  @include index-card-img;
}

.index-card-img-focus {
  @include index-card-img;
  box-sizing: content-box;
  border: 2px solid rgb(var(--primary-pink));
}
