@mixin modal-bg($color) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: rgba($color, 0.5);
}

@mixin button($color) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 100vh;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--white));
  background-color: rgb($color);
}

@mixin close-button() {
  position: absolute;
  top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 100vh;
  background-color: rgba(var(--primary-pink), 0.3);
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--primary-pink), 0.5);
  }
}

@mixin top-menu-button() {
  position: absolute;
  top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  border-radius: 100vh;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--white));
  background-color: rgb(var(--primary-purple));
  cursor: pointer;
}

.modal-bg-pink {
  @include modal-bg(var(--primary-pink));
}

.modal-bg-black {
  @include modal-bg(var(--black));
}

.modal-form {
  width: 100%;
  max-height: 95%;
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  transform: none;
  -webkit-transform: none;
  z-index: 510;
  border-radius: 1rem 1rem 0 0;
  background-color: rgb(var(--white));
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media screen and (min-width: 481px) {
    width: 450px;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-form-cushion {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  position: relative;
}

.modal-form-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
  padding: 1.2rem 1rem;
  overflow: auto;
  position: relative;
}

.modal-header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  border-bottom: 1px solid rgba(var(--text-color), 0.3);
  overflow: hidden;
}

.modal-header-container {
  width: 100%;
  min-height: var(--modal-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--white), 0.6);
  backdrop-filter: blur(8px);
  position: relative;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0.1rem;
  span {
    color: rgb(var(--primary-purple));
    padding-right: 0.1rem;
  }
}

.close-button {
  @include close-button();
  right: 0.8rem;
}

.before-button {
  @include close-button();
  left: 0.8rem;
}

.index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.index-title {
  font-size: 0.9rem;
  font-weight: 600;
}

.select-index {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.3rem;
}

// message send modal

.overly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 2;
  width: 30%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  border-radius: 0.8rem;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(var(--primary-purple), 0.6);
  overflow: scroll;
}

.container {
  text-align: left;
  margin-top: 5%;
}

.name-textform {
  margin-bottom: 3%;
  padding: 5%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(var(--primary-pink));
}

.message-textform {
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 5%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(var(--primary-pink));
}

.toImgBtn {
  margin-top: 5%;
  background-color: transparent;
  border: none;
  outline: none;
  background-color: #d595ee;
  padding: 10%;
  border-radius: 1.25rem;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 120%;
}

// .cancelBtn {
//   margin-top: 5%;
//   background-color: transparent;
//   border: none;
//   outline: none;
// }

.submitBtn {
  display: flex;
  justify-content: center;
}

.icon {
  position: relative;
  right: 20%;
  // padding: 3px;
}

.text-element {
  margin-bottom: 1%;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.input-top-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-top-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.input-box {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgb(var(--pale-gray));
  border-radius: 100vh;
  &:focus-within {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 6px 0px rgba(var(--primary-pink));
  }
}

.textarea-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgb(var(--pale-gray));
  border-radius: 1.4rem;
  overflow: hidden;
  &:focus-within {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 6px 0px rgba(var(--primary-pink));
  }
}

.input {
  width: 100%;
}

.textarea {
  width: 100%;
  height: auto;
  min-height: 8rem;
  max-height: 15rem;
  padding: 0.8rem 1rem;
  font-size: 16px;
  color: rgb(var(--text-color));
  background-color: inherit;
  resize: none;
}

.img-select-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgb(var(--pale-gray));
  border-radius: 100vh;
  cursor: pointer;
}

.img-info-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem
}

.img-info-image {
  width: 2.5rem;
  height: auto;
  border-radius: 0.3rem;
}

.img-info-name {
  font-size: 0.9rem;
  color: rgb(var(--pale-gray));
}

.img-select-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  font-size: 1.2rem;
  border-radius: 100vh;
  color: rgb(var(--primary-purple));
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--primary-purple), 0.3);
  }
}

.send-button {
  @include button(var(--primary-purple));
  cursor: pointer;
}

.send-disable-button {
  @include button(var(--pale-gray));
  cursor: not-allowed;
}

// narrow modal

.finish-button {
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(var(--white));
  background: rgb(var(--primary-purple));
  background: linear-gradient(135deg, rgba(var(--primary-pink), 1) 0%, rgba(var(--primary-purple), 1) 100%);
  border-radius: 100vh;
  cursor: pointer;
}

// check modal

.small-modal-form {
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  z-index: 520;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: rgb(var(--white));
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-bottom: 0.4rem;
}

.sub-text {
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.7);
}

.trash-button {
  @include button(var(--white));
  color: rgb(var(--text-color));
  outline: 1px solid rgb(var(--primary-purple));
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--text-color), 0.2);
  }
}

.modal-bg-check {
  @include modal-bg(var(--black));
  z-index: 515;
}

.top-left-menu-button {
  @include top-menu-button();
  left: 0.8rem;
}

.top-right-menu-button {
  @include top-menu-button();
  right: 0.8rem;
}
