@mixin index {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 12px 2px rgba(var(--primary-pink), 0.6);
    @media screen and (min-width: 661px) {
        display: flex;
    }
}

.icon-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 0.2rem;
}

.under-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.under-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.name-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 1.2rem;
    font-weight: 600;
}

.course-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem;
}

.course-index {
    @include index();
    min-height: 2.6rem;
}

.course-text {
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(var(--primary-gray));
}

.region-index {
    @include index();
    min-height: 1.3rem;
    margin-bottom: 0.2rem;
}

.list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0;
    gap: 1rem;
    cursor: pointer;
    @media screen and (min-width: 661px) {
        display: none;
    }
}

.list-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
}

.list-left-top-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.1rem;
}

.list-left-top-personal-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.list-personal-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.list-left-top-personal-region-index {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.list-icon-img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
}

.list-left-under-courses-index {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.right-arrow {
    font-size: 1.5rem;
    color: rgb(var(--primary-gray));
}

.separate-list-box {
    width: 95%;
    margin-bottom: 0.4rem;
    border: 1px solid rgba(var(--primary-gray), 0.4);
    border-radius: 100vh;
    @media screen and (min-width: 661px) {
        display: none;
    }
}
