@mixin index {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 12px 2px rgba(var(--primary-pink), 0.6);
}

.icon-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 0.2rem;
}

.under-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.name-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 1.2rem;
    font-weight: 600;
}

.course-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem;
}

.course-index {
    @include index();
    min-height: 2.6rem;
}

.course-text {
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(var(--primary-gray));
}

.region-index {
    @include index();
    min-height: 1.3rem;
    margin-bottom: 0.2rem;
}
