.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.title-description {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(var(--primary-gray));
}

.mentor-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 0.7rem;
    gap: 0.7rem;
}
